<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <title>K-Means Clustering | Learn Data Science</title>
</head>
<body>
    <!-- simple navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Learn Data Science</span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="/lessons">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Logout">Logout</a>
                </li>

            </ul>
          </div>
        </div>
    </nav>

    <div style = "height:50px">&nbsp;</div>
    
    <!-- main content -->
    <div class="container">
        <center>
            <img src = "/img/cluster_img1.png" width = "65%">
        </center>

        <h1>K-Means Clustering</h1>
        <p><mark>Cluster Analysis</mark> is sometimes also called data segmentation, because it has the overall goal of dividing a set of data into an arbitrary number of clusters or segments, with each segment ideally representing some form of commonality amongst its members. In these lessons, we learn about the <mark>K-Means Clustering</mark> algorithm, which is one of the most popular and widely-used application of Cluster Analysis.</p>
        <div style = "height:25px">&nbsp;</div>
        
        <h4>My Progress:</h4>
        <div class="progress">
          <% let pct_progress = Math.round(100 * progress.filter(x => x !== false).length / 6) %>
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="<%= pct_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= pct_progress %>%"></div>
        </div>
    </div>

    

    <div class="container">
        <div style = "height:25px">&nbsp;</div>

        <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn">
                  <b>Pre-Assessment</b>
                </button>
              </h5>
            </div>
        
            <div>
              <div class="card-body">
                Before we begin with the lessons, we would first like to gauge your existing knowledge on the K-Means Clustering. Note that we are only recording your score for later reference. Don't be anxious about not knowing some (or many) of the answers to the following questions. As we proceed with the lessons, you'll come to learn even more about the algorithm, and how it's used.
                <br/>
                <hr/>
                <% if(progress[0]){ %>
                  <a href="#" class="btn btn-secondary disabled">Accomplish</a>
                  &nbsp; &nbsp;
                  <%= 'Status: completed '.concat(progress[0]) %>
                <% } else { %>
                  <a href="/lessons/kmeans/pretest" class="btn btn-primary">Accomplish</a>
                  &nbsp; &nbsp;
                  <%= 'Status: not yet completed' %>
                <% } %>
            </div>
            </div>
        </div>

        <div style = "height:15px">&nbsp;</div>

        <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn">
                  <b>Lesson 1: Clustering Problem</b>
                </button>
              </h5>
            </div>
        
            <div>
              <div class="card-body">
                Cluster Analysis is sometimes also called data segmentation, because it has the overall goal of dividing a set of data into an arbitrary number of clusters or segments, with each segment ideally representing some form of commonality amongst its members. In this lesson, we introduce the clustering problem, its objective, and practical applications
                <br/>
                <hr/>
                <% if(! progress[0]){ %>
                  <a href="#" class="btn btn-secondary disabled">Accomplish</a>
                  &nbsp; &nbsp;
                  <%= 'Status: Please accomplish the Pre-Test first' %>
                <% } else if(progress[1]) { %>
                  <a href="#" class="btn btn-secondary disabled">Accomplish</a>
                  &nbsp; &nbsp;
                  <%= 'Status: completed '.concat(progress[1]) %>
                <% } else { %>
                  <a href="/lessons/kmeans/introduction" class="btn btn-primary">Accomplish</a>
                  &nbsp; &nbsp;
                  <%= 'Status: not yet completed' %>
                <% } %>
              </div>
            </div>
        </div>

        <div style = "height:15px">&nbsp;</div>

        <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn">
                  <b>Lesson 2: The K-Means Algorithm</b>
                </button>
              </h5>
            </div>
        
            <div>
              <div class="card-body">
                We introduce Lloyd’s Algorithm, also known as the K-Means Algorithm, which is a simple application of the clustering solution that is in wide use in modern data science, statistics, and artificial intelligence engineering today.
                <br/>
                <hr/>
                <% if(! progress[1]){ %>
                  <a href="#" class="btn btn-secondary disabled">Accomplish</a>
                  &nbsp; &nbsp;
                  <%= 'Status: Please accomplish Lesson 1 first' %>
                <% } else if(progress[2]) { %>
                  <a href="#" class="btn btn-secondary disabled">Accomplish</a>
                  &nbsp; &nbsp;
                  <%= 'Status: completed '.concat(progress[2]) %>
                <% } else { %>
                  <a href="/lessons/kmeans/algorithm" class="btn btn-primary">Accomplish</a>
                  &nbsp; &nbsp;
                  <%= 'Status: not yet completed' %>
                <% } %>
              </div>
            </div>
        </div>

        <div style = "height:15px">&nbsp;</div>

        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn">
                <b>Lesson 3: Application on US Arrests Data</b>
              </button>
            </h5>
          </div>
      
          <div>
            <div class="card-body">
              We take a look at an example using real data, and see how we might be able to use Lloyd’s Algorithm to split the data into its clusters. We also consider the possibility of splitting the group into more than 2 groups, like we have done so far. We also mention some brief points to keep in mind regarding the use of Lloyd's Algorithm.
              <br/>
              <hr/>
              <% if(! progress[2]){ %>
                <a href="#" class="btn btn-secondary disabled">Accomplish</a>
                &nbsp; &nbsp;
                <%= 'Status: Please accomplish Lesson 2 first' %>
              <% } else if(progress[3]) { %>
                <a href="#" class="btn btn-secondary disabled">Accomplish</a>
                &nbsp; &nbsp;
                <%= 'Status: completed '.concat(progress[3]) %>
              <% } else { %>
                <a href="/lessons/kmeans/example" class="btn btn-primary">Accomplish</a>
                &nbsp; &nbsp;
                <%= 'Status: not yet completed' %>
              <% } %>
            </div>
          </div>
      </div>

      <div style = "height:15px">&nbsp;</div>

        <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn">
                  <b>Post Assessment</b>
                </button>
              </h5>
            </div>
        
            <div>
              <div class="card-body">
                Now that you've had a sufficient introduction to the K-Means Clustering, it's time to perform a knowledge check. Now provide the best answers to the following questions, based on what you've learned. Note that leaving this page will not save any of your progress so far, and you may only take this post-test once. Completion of this post-test (regardless of score) will signal your completion of this lesson.
                <br/>
                <hr/>
                <% if(! progress[3]){ %>
                  <a href="#" class="btn btn-secondary disabled">Accomplish</a>
                  &nbsp; &nbsp;
                  <%= 'Status: Please accomplish Lesson 3 first' %>
                <% } else if(progress[4]) { %>
                  <a href="#" class="btn btn-secondary disabled">Accomplish</a>
                  &nbsp; &nbsp;
                  <%= 'Status: completed '.concat(progress[4]) %>
                <% } else { %>
                  <a href="/lessons/kmeans/posttest" class="btn btn-primary">Accomplish</a>
                  &nbsp; &nbsp;
                  <%= 'Status: not yet completed' %>
                <% } %>
              </div>
            </div>
        </div>

        <div style = "height:15px">&nbsp;</div>

        <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn">
                  <b>Student Feedback</b>
                </button>
              </h5>
            </div>
        
            <div>
              <div class="card-body">
                Thank you very much for participating in this activity. Rest assured that your performance data will be put to good use. Before you leave, we'd like to get your feedback on a couple of items in this lesson.
                <br/>
                <hr/>
                <% if(! progress[4]){ %>
                  <a href="#" class="btn btn-secondary disabled">Accomplish</a>
                  &nbsp; &nbsp;
                  <%= 'Status: Please accomplish the Post-Test first' %>
                <% } else if(progress[5]) { %>
                  <a href="#" class="btn btn-secondary disabled">Accomplish</a>
                  &nbsp; &nbsp;
                  <%= 'Status: completed '.concat(progress[5]) %>
                <% } else { %>
                  <a href="/lessons/kmeans/feedback" class="btn btn-primary">Accomplish</a>
                  &nbsp; &nbsp;
                  <%= 'Status: not yet completed' %>
                <% } %>
              </div>
            </div>
        </div>

    </div>

    <div style = "height:50px">&nbsp;</div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-muted">&copy; 2021 Dominic Dayta, All Rights Reserved</p>
      
          <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          </a>
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/lessons" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link px-2 text-muted">Logout</a></li>
          </ul>
        </footer>
    </div>

</body>
</html>